<div>
    {{#each productos}}
    <div>
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
        <img src={{this.thumbnail}}>
    </div>
    {{/each}}
</div>
<br>
<div>
    <button><a href="http://localhost:8080">Agregar producto</a></button>
</div>